.nav-wrapper {
  width: 178px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  text-align: center;
}

.nav-wrapper a{
  color: #7b7b7b;
}

.item-nav-wrapper{
  height: 25px;
  width: 100px;
  letter-spacing: 0.5px;
}

.item-nav-wrapper a:hover {
  color: #caff33;
  letter-spacing: 2px;
  transition: 1.2s;
}