body,html {
  height: 100%;
  width: 100%;
  user-select: none;
}

body {
  margin: 0;
  background: #1d1d20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
}

i {
  font-size: 25px;
}

a{
  font-weight: 900;
  text-decoration: none;
  color: #cbcbcb;
  cursor: pointer;
  transition: 1.3s;
} 

a:hover {
  color: #ff8d0a;
}

h1{
  font-size: 58px;
  font-weight: 100;
  color: #fafafa;
  letter-spacing: 4.5px;
}

h3 {
  letter-spacing: 2px;
  color: #eb9455;
  border-bottom: 1px solid #eb9455;
}

p{
  color: #cbcbcb;
}

.body-page {
  display: flex;
  align-items: center;
  background: radial-gradient(circle at 100% 100%, #1d1d20 0, #1d1d20 3px, transparent 3px) 0% 0%/8px 8px no-repeat, radial-gradient(circle at 0 100%, #1d1d20 0, #1d1d20 3px, transparent 3px) 100% 0%/8px 8px no-repeat, radial-gradient(circle at 100% 0, #1d1d20 0, #1d1d20 3px, transparent 3px) 0% 100%/8px 8px no-repeat, radial-gradient(circle at 0 0, #1d1d20 0, #1d1d20 3px, transparent 3px) 100% 100%/8px 8px no-repeat,linear-gradient(#1d1d20, #1d1d20) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,linear-gradient(#1d1d20, #1d1d20) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,linear-gradient(6deg, transparent 0%, #eb9455 100%),linear-gradient(90deg, #caff33 0%, transparent 100%);
  border-radius: 8px;
  padding: 32px;
  gap: 35px;
}

.info-show-container {
  width: 680px;
  height: 460px;
}

.title-container {
  height: 64px;
  display: flex;
  align-items: center;
}

.info-container {
  width: 680px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.line-space {
  width: 4px;
  height: 347px;
  background: rgb(202,255,51);
  background: linear-gradient(185deg, rgba(202,255,51,1) 0%, rgba(235,148,85,1) 100%);
}

/* WELCOME */
#welcome-container > .info-container {
  justify-content: center;
}

#direct-to-knowme {
  font-size: 28px;
  font-weight: 900;
  color: #ffa80a;
}

/* STUDY */
#school-logo {
  width: 150px;
}

/* STUDY AND PROYECTS */
#studies-container > .list-item-description {
  height: 52px;
}

.list-item {
  height: 180px;
}

.list-item-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-item-description {
  width: 463px;
  height: 150px;
}

/* KNOW ME */
#projects-container > .info-container > .list-item > .list-item-info > .list-item-description {
  height: 54px;
}

#knowme-container > .info-container {
  justify-content: center;
}

/* PROJECTS */
#programming-language-used {
  width: 100px;
  text-align: center;
}

#link-project-github {
  width: 50px;
  text-align: center;
}
